{% extends "recipes/base.html" %}

{% block content %}

<h1>Star Wars Meals</h1><br>

<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Find recipe!">
</form><br><br>

<h3>
	{{ character_dialogue }}
	<a href="{{ recipe_url }}">{{ recipe_label }}</a>
</h3><br>

<a href="{{ recipe_url }}">
	<img src="{{ recipe_image }}" alt="{{ recipe_label }}">
</a><br><br>

<h4>{{ ingredients_label }}</h4><br>

<ul>
	{% for line in recipe_ingredients %}
		<li>{{ line }}</li>
	{% endfor %}
</ul><br>

{% endblock content %}
